.outer-square {
  display: grid;
  grid-template-columns:repeat(3,1fr);
  height: 600px;
  width: 600px;
  margin: 10px;
}
.inner-square {
  background-color: green;
}
.circle {
  margin: 10px;
  border-radius: 50%;
  background-color: blue;
}